*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-1: #cacece;
}

.container-pai{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(252, 252, 252);
}

.header{
    display: flex;
    flex-direction: row;
    background-color: var(--background-1);
    box-shadow: 0px 0px 6px 0px #000;
}

